{% extends 'base.html' %}

{% block contents %}
<section class="banner-area relative" id="about">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Register as a teacher
                </h1>
                <p class="text-white link-nav"><a href="index-General.html">Home </a> <span
                        class="lnr lnr-arrow-right"></span> <a href="Who We Are.html"> Register as a teacher</a></p>
            </div>
        </div>
    </div>
</section>





<!-- ===============================================  Mission Vision Strength =================================================== -->


<section class="cat-area section-gap bg-abt" id="feature" style="margin-top: -80px">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSehoFyZDpNNdRZT-7X5FbthB6Mr8VEwCkMxQpNRJU_bX-JY7Q/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
            </div>

        </div>
    </div>
</section>
{% endblock %}