{% extends 'base.html' %}

{% block contents %}
<section class="banner-area relative" id="about">
    <div class="overlay overlay-bg"></div>
    <div class="container">
        <div class="row d-flex align-items-center justify-content-center">
            <div class="about-content col-lg-12">
                <h1 class="text-white">
                    Sri Lanka's Largest Directory of Tuitions
                </h1>
                <p class="text-white link-nav"><a href="index-General.html">Home </a> <span
                        class="lnr lnr-arrow-right"></span> <a href="Who We Are.html"> Who We Are</a></p>
            </div>
        </div>
    </div>
</section>





<!-- ===============================================  Mission Vision Strength =================================================== -->


<section class="cat-area section-gap bg-abt" id="feature" style="margin-top: -80px">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="single-cat">

                    <h4 class="mb-20">Our Vision</h4>
                    <p>
                        Some text Some text Some text Some textSome textSome textSome textSome text Some
                        text vSome textSome textSome textSome textSome text Some text Some text Some text Some 
                        textSome textSome textSome textSome text Some text vSome textSome textSome textSome textSome
                         text Some text Some text Some text Some textSome textSome textSome textSome text Some
                         text vSome textSome textSome textSome textSome text
                    </p>

                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat">

                    <h4 class="mb-20">Our Mission</h4>
                    <p>
                        Some text Some text Some text Some textSome textSome textSome textSome text Some
                        text vSome textSome textSome textSome textSome text Some text Some text Some text Some 
                        textSome textSome textSome textSome text Some text vSome textSome textSome textSome textSome
                         text Some text Some text Some text Some textSome textSome textSome textSome text Some
                         text vSome textSome textSome textSome textSome text
                    </p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="single-cat">

                    <h4 class="mb-20">Our Strengths</h4>
                    <p>We are the largest directry of tuition classes in Sri Lanka and we always provide efficient and accurate service for out all customers. 
                        <br> As our strenghs we can point out following 
                        <ul style="text-align: left; margin-left: 10%;">
                            <li>Qualified Teachers</li>
                            <li>Accurate details</li>
                            <li>Quick and efficient customer assistant</li>
                            <li>Trustwortheness of our service</li>
                        </ul>
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>
{% endblock %}